:root {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    color: green;
}

#outer-border {
    background-color: #606060;
}

#inner-border {
    width: 95vw;
    height: 95vh;
    background-color: #808080;
}

#screen {
    width: 90vw;
    height: 90vh;
    background-color: black;
    flex-wrap: wrap;
}

#screen header {
    text-align: left;
    font-size: 3em;
    margin: 3rem;
}

#screen main {
    width: 100%;
    position: relative;
}

#screen #input-wrapper {
    position: fixed;
    bottom: 6vh;
    font-size: 2rem;
    width: 90%;
    text-align: center;
    padding: 1em 2em;
}

#screen input {
    font-family: 'Courier New', Courier, monospace;
    color: green;
    font-size: 2rem;
    align-self: flex-end;
    width: 90%;
    padding: 0 1em;
    background-color: #000;
    border: none;
}

#screen input:focus-visible {
    outline: none;
}

#feedback {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
    width: 100%;
    padding: 2em;
}

#feedback span {
    color: gray;
}

#feedback .guess {
    width: 100%;
    display: block;
    padding-bottom: 0.5em;
}

#feedback .higher {
    color: cyan;
}

#feedback .lower {
    color: red;
}

#feedback .correct {
    color: limegreen;
}

#feedback .incorrect {
    color: gray;
}

#feedback .partial {
    color: gold;
}

#divider {
    text-wrap: nowrap;
    overflow: hidden;
}

#screen #credits {
    color: green;
    background-color: #80808040;
    margin: 1rem;
    width: 10%;
    aspect-ratio: 1.5;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}

#credit-symbol {
    width: 5%;
    aspect-ratio: 0.35;
    border-radius: 1px;
    background-color: green;
    margin: 5px;
    margin-bottom: 10px;
}





.true-center {
    display: flex;
    justify-content: center;
    align-items: center;
}